<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main h-screen w-full bg-slate-300 flex justify-center  items-center">
     <div class="frame h-[90vh] w-[94vw] bg-white flex ">
      <div class="left h-full w-[15vw] bg-white flex flex-col gap-5 ">  <a href="/login"><i class="ri-home-5-fill"></i>Home</a>
    <a href="/explore"><i class="ri-search-line"></i>Exploe</a>
    <a href="/messages"><i class="ri-messenger-line"></i>Messages</a>
    <a href="/notification"><i class="ri-heart-3-line"></i>Notification</a>
    <a href="/add"><i class="ri-add-box-line"></i>Create</a>
    
    
    </div>
      <div class="mid h-full w-[70vw] bg-gray-100"></div>
      <div class="right h-full w-[20vw] bg-white"></div>
     </div>

    </div>
</body>
</html>