<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main h-screen w-full  bg-sky-300 overflow-hidden relative">
       
      
        <img class="object-fill scale-[0.8] absolute top-[-30%]" src="https://cdn.dribbble.com/users/2371584/screenshots/6740920/account_successfully_created2.png" alt="">
 <a href="/instagram" class="h-10 w-[300px] bg-blue-600 absolute text-center top-[68%] left-[40%] py-2 text-white rounded-lg active:scale-[0.95]"> Login Now</a>

    </div>
    <script src="/javascript/script.js"></script>
</body>

</html>